.content {
	.con {
		.inference {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 1180px;
			gap: 30px;

			.left {
				width: 55%;
				height: auto;

				display: flex;
				flex-direction: column;
				gap: 30px;

				.title {
					color: #fff;

					table {
						width: 100%;

						tr {
							th {
								vertical-align: middle;
								font: 700 14px/20px "Noto Sans", sans-serif;
								width: 25%;
							}

							td {
								vertical-align: middle;
								padding: 10px 20px;
								padding-left: 0px;

								input {
									width: 100%;
									height: 40px;
									border: none;
									outline: none;
									border-bottom: 1px solid #fff;
									padding-left: 5px;
									background-color: transparent;
									color: #fff;

									&::placeholder {
										color: #efefef;
									}
								}
							}
						}
					}
				}

				.bottom {
					.bottom-wrap {
						width: 100%;

						display: flex;
						flex-direction: column;
						gap: 5px;

						.img {
							background-color: #efefef;
							width: 100%;
							height: 400px;
							position: relative;

							.crop-box {
								border: 2px solid #333;
								width: 150px;
								height: 150px;
								position: absolute;
								right: 50px;
								bottom: 50px;
							}
						}

						.buttons {
							width: 100%;
							display: flex;
							justify-content: space-between;
							align-items: center;

							.left-buttons {
								display: flex;
								align-items: center;
								gap: 10px;

								button {
									padding: 20px 10px;
									border: 1px solid transparent;
									background-color: #fff;
									transition: all 0.5s;
									font: 500 13px/30px "Noto Sans", sans-serif;

									&:nth-child(1) {
										background-color: #5c72ed;
										color: #fff;
										transition: all 0.5s;

										&:hover {
											background-color: #fff;
											color: #333;
											transition: all 0.5s;
										}
									}

									&:hover {
										color: #fff;
										background-color: #5c72ed;
										transition: all 0.5s;
									}
								}
							}

							.crop-button {
								padding: 20px 70px;
								border: 1px solid transparent;
								background-color: #fff;
								transition: all 0.5s;
								font: 700 14px/30px "Noto Sans", sans-serif;

								&:hover {
									color: #fff;
									background-color: #5c72ed;
									transition: all 0.5s;
								}
							}
						}
					}
				}
			}

			.right {
				width: 45%;
				display: flex;
				flex-direction: column;
				gap: 20px;

				.crop-img,
				.create-img {
					display: flex;
					justify-content: center;
					width: 100%;
					gap: 10px;

					.img {
						width: 300px;
						height: 300px;
						background-color: #efefef;
					}

					.buttons {
						display: flex;
						flex-direction: column;
						gap: 10px;
						justify-content: space-between;
						width: calc(100% - 300px);

						.option-buttons {
							display: flex;
							flex-direction: column;
							align-items: center;
							gap: 15px;

							button {
								width: 100%;
								padding: 10px 30px;
								background-color: #fff;
								border: 1px solid transparent;
								transition: all 0.5s;
								font: 500 13px/30px "Noto Sans", sans-serif;

								&:hover {
									color: #fff;
									background-color: #5c72ed;
									transition: all 0.5s;
								}
							}
						}

						button {
							width: 100%;
							padding: 10px 30px;
							background-color: #fff;
							border: 1px solid transparent;
							transition: all 0.5s;
							font: 700 14px/30px "Noto Sans", sans-serif;

							&:hover {
								color: #fff;
								background-color: #5c72ed;
								transition: all 0.5s;
							}
						}
					}
				}

				.create-img {
					.buttons {
						justify-content: flex-end;

						button {
							width: 100%;
							padding: 10px 30px;
							background-color: #fff;
							border: 1px solid transparent;
							transition: all 0.5s;
							font: 700 14px/30px "Noto Sans", sans-serif;

							&:hover {
								color: #fff;
								background-color: #5c72ed;
								transition: all 0.5s;
							}
						}
					}
				}
			}
		}
	}
}
