.content {
	.con {
		.iw-data-preparation-image {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 1180px;
			gap: 30px;

			.left {
				width: 55%;
				height: auto;
				display: flex;
				flex-direction: column;
				gap: 20px;

				.title {
					color: #fff;

					table {
						width: 100%;

						tr {
							th {
								vertical-align: middle;
								font: 700 14px/20px "Noto Sans", sans-serif;
								width: 25%;
							}

							td {
								vertical-align: middle;
								padding: 10px 20px;
								padding-left: 0px;

								input {
									width: 100%;
									height: 40px;
									border: none;
									outline: none;
									border-bottom: 1px solid #fff;
									padding-left: 5px;
									background-color: transparent;
									color: #fff;

									&::placeholder {
										color: #efefef;
									}
								}
							}
						}
					}
				}

				.middle {
					display: flex;
					width: 100%;
					align-items: center;
					gap: 5px;

					.buttons {
						display: flex;
						flex-direction: column;
						width: 100%;

						button {
							margin-bottom: 5px;
							padding: 15px 10px;

							&:hover {
								border: 1px solid transparent;
							}

							&:first-child {
								margin-top: 10px;
							}

							&:last-child {
								margin-bottom: 0px;
							}
						}
					}

					.buttons-left {
						order: 1; /* 좌측에 배치하기 위해 순서(order)를 1로 설정 */
					}

					.buttons-right {
						order: 2; /* 우측에 배치하기 위해 순서(order)를 2로 설정 */
					}
				}

				.bottom {
					.bottom-wrap {
						width: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 10px;

						.img {
							background-color: #fff;
							width: 50%;
							height: 300px;
							display: flex;
							align-items: flex-start;

							swiper-container {
								width: 100%;
								height: 100%;

								swiper-slide {
									text-align: center;
									font-size: 18px;
									background: #fff;
									display: flex;
									justify-content: center;
									align-items: flex-start;
									cursor: pointer;

									img {
										display: block;
										width: 100%;
										height: 90%;
										object-fit: cover;
									}
								}
							}
						}
					}
				}

				.buttons {
					margin-top: -10px;
					display: flex;
					justify-content: flex-end;

					button {
						padding: 10px 50px;
					}
				}
			}

			.right {
				width: 45%;

				.right-wrap {
					width: 100%;
					height: 600px;
					border: 1px solid #fff;
					margin-bottom: 10px;
				}

				.buttons {
					display: flex;
					justify-content: flex-end;

					button {
						padding: 10px 50px;
					}
				}
			}
		}
	}
}
